<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!loading">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="User Name" formControlName="username">
          <mat-error *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors.required">
            User name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors.required">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
