@import "~@angular/material/theming";
@import "src/styles.scss";

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus {
  transition: 0.8s;
  color: mat-color($adam-app-primary);
}

.sidenav-item-icon {
  margin-right: 16px;
}
