<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div *ngIf="!loading">
  <mat-card *ngFor="let post of posts">
    <mat-card-title>
      {{ post.title }}
    </mat-card-title>
    <!-- <img mat-card-image src="{{'data:' + post.image.contentType + ';base64,' + post.image.data }}" alt=""> -->
    <mat-card-content>
      <div class="post-timestamp" fxLayoutAlign="start center">
        <mat-icon>schedule</mat-icon>
        <span>{{ post.timestamp | date: 'medium' }}</span>
      </div>
      <div class="post-body">
        {{ post.body }}
      </div>
    </mat-card-content>
  </mat-card>
</div>

<a mat-mini-fab *ngIf="user.isLoggedIn()" class="add-button" color="primary" routerLink="/post">
  <mat-icon>add</mat-icon>
</a>