.add-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.post-title {
  color: inherit;
  text-decoration: none;
}

.post-timestamp {
  font-style: italic;
  vertical-align: middle;

  mat-icon {
    width: 15px;
    height: 15px;
    font-size: 1em;
  }

  span {
    font-size: .8em;
    margin-left: 8px;
  }
}

.post-body {
  margin: 20px;
}