<mat-nav-list>
  <h3 matSubheader>Menu</h3>
  <a mat-list-item routerLink="">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="blog">
    <mat-icon>rate_review</mat-icon>
    <span>Blog</span>
  </a>
  <a mat-list-item routerLink="album">
    <mat-icon>photo_library</mat-icon>
    <span>Album</span>
  </a>
  <a mat-list-item routerLink="resume">
    <mat-icon>business_center</mat-icon>
    <span>Resume</span>
  </a>
  <a mat-list-item routerLink="contact">
    <mat-icon>mail</mat-icon>
    <span>Contact</span>
  </a>

  <mat-divider></mat-divider>

  <h3 matSubheader>Admin</h3>
  <a mat-list-item routerLink="admin/posts">
    <mat-icon>rate_review</mat-icon>
    <span>Manage Blog</span>
  </a>
  <a mat-list-item routerLink="admin/photos">
    <mat-icon>photo_library</mat-icon>
    <span>Manage Album</span>
  </a>
  <a mat-list-item routerLink="admin/photos">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>