@import "~@angular/material/theming";
@import "src/styles.scss";

$background: map-get($adam-app-theme, background);
$typography: mat-typography-config();

.resume-header-avatar {
  background: mat-color($background, unselected-chip);
  width: 150px;
  height: 150px;
}

.resume-firstname {
  @include mat-typography-level-to-styles($typography, display-1);
}

.resume-lastname {
  @include mat-typography-font-shorthand(
    mat-font-size($typography, display-1),
    mat-font-weight($typography, display-1) - 100,
    mat-line-height($typography, display-1),
    mat-font-family($typography, display-1)
  );
}
