.circle-photo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  margin-left: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
}

.contact-info {
  margin-left: 50px;
}

mat-toolbar-row {
  height: 250px;
}
