<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayout="row" fxFlex>
      <div class="circle-photo" style="background-image: url('assets/images/me-purple.jpg')"></div>
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <div class="mat-title">ADAM RASFELD</div>
        <div class="mat-body-1">1513 Clover Court</div>
        <div class="mat-body-1">Streetsboro, OH 44241</div>
        <div class="mat-body-1">(513) 746-0289</div>
        <div class="mat-body-1">rasfelad@miamioh.edu</div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>
    Skills
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex>
        <div class="mat-body-2">C#.NET</div>
        <div class="mat-body-2">VB.NET</div>
        <div class="mat-body-2">Java</div>
        <div class="mat-body-2">JavaScript</div>
      </div>
      <div fxLayout="column" fxFlex>
        <div class="mat-body-2">Angular/AngularJS</div>
        <div class="mat-body-2">Windows Presentation Foundation</div>
        <div class="mat-body-2">ASP.NET MVC</div>
        <div class="mat-body-2">ASP.NET Web API</div>
      </div>
      <div fxLayout="column" fxFlex>
        <div class="mat-body-2">Microsoft SQL Server</div>
        <div class="mat-body-2">SQL Server Reporting Services</div>
        <div class="mat-body-2">NUnit Automated Testing</div>
        <div class="mat-body-2">Team Foundation Server</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Experience
  </mat-card-title>
  <mat-card-content>
    <div class="mat-caption">December 2014 - February 2018</div>
    <div class="mat-subheading-1">RoviSys, Aurora OH - <i>Software Developer II</i></div>
    <ul>
      <li>Developed and managed multiple modern enterprise applications</li>
      <li>Implemented MES solutions for customer projects using various control systems</li>
      <li>Utilized agile/scrum methodologies in team projects</li>
      <li>Collaborated with application stakeholders to develop and maintain product backlogs</li>
      <li>Provided technical support to clients by exercising sharp troubleshooting skills</li>
      <li>Developed automated test suites and regression test plans</li>
      <li>Participated in company hackathons</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Education
  </mat-card-title>
  <mat-card-content>
    <div class="mat-caption">August 2009 - December 2014</div>
    <div class="mat-subheading-1">Bachelor of Science, Computer Science</div>
    <div class="mat-body-2">Miami University - Oxford, OH</div>
  </mat-card-content>
</mat-card>